section.product-profile
  .product-profile__container.container
    h1.product-profile__title.mobile-hidden Dahatsu DHP-07/DHV-07

    .product-profile__columns

      .product-profile__images
        .swiper-top
          .swiper-wrapper
            img.swiper-slide(src="./assets/img/catalog/dahatsu/dhp/01.jpg")
            img.swiper-slide(src="./assets/img/catalog/dahatsu/dhp/02.png")
            img.swiper-slide(src="./assets/img/catalog/dahatsu/dhp/03.jpg")
            img.swiper-slide(src="./assets/img/catalog/dahatsu/dhp/04.jpg")
          .swiper-pagination

        .swiper-thumbs
          .swiper-wrapper
            img.swiper-slide(src="./assets/img/catalog/dahatsu/dhp/01.jpg")
            img.swiper-slide(src="./assets/img/catalog/dahatsu/dhp/02.png")
            img.swiper-slide(src="./assets/img/catalog/dahatsu/dhp/03.jpg")
            img.swiper-slide(src="./assets/img/catalog/dahatsu/dhp/04.jpg")



      .product-profile__properties
        h2.product-profile__properties-heading Технические характеристики
        ul.product-profile__property-list

          li.product-profile__property-item
            span.product-profile__property-title Производительность, Вт
            span.product-profile__property-value 2100

          li.product-profile__property-item
            span.product-profile__property-title Потребляемая мощность, Вт
            span.product-profile__property-value 655

          li.product-profile__property-item
            span.product-profile__property-title Электропитание, V/PH/HZ
            span.product-profile__property-value 220-240V, 50HZ

          li.product-profile__property-item
            span.product-profile__property-title Макс. длина трассы, м
            span.product-profile__property-value 5

          li.product-profile__property-item
            span.product-profile__property-title Макс. перепад высот, м
            span.product-profile__property-value 10

          li.product-profile__property-item
            span.product-profile__property-title Диаметр жидкостной трубы, мм
            span.product-profile__property-value 6,35мм(1/4)

          li.product-profile__property-item
            span.product-profile__property-title Диаметр газовой трубы, мм
            span.product-profile__property-value 9,52мм(3/8)

        h3.product-profile__properties-heading Внутренний блок
        ul.product-profile__property-list

          li.product-profile__property-item
            span.product-profile__property-title Уровень шума, дБ (А)
            span.product-profile__property-value 21

          li.product-profile__property-item
            span.product-profile__property-title Вес, кг
            span.product-profile__property-value 7,4

          li.product-profile__property-item
            span.product-profile__property-title Размер, мм (д*ш*в)
            span.product-profile__property-value 715x194x285


        h3.product-profile__properties-heading Внешний блок
        ul.product-profile__property-list

          li.product-profile__property-item
            span.product-profile__property-title Уровень шума, дБ (А)
            span.product-profile__property-value 54

          li.product-profile__property-item
            span.product-profile__property-title Вес, кг
            span.product-profile__property-value 20,6

          li.product-profile__property-item
            span.product-profile__property-title Размер, мм (д*ш*в)
            span.product-profile__property-value 720x270x495

          li.product-profile__property-item
            span.product-profile__property-title Модель компрессора
            span.product-profile__property-value GMCC

          li.product-profile__property-item
            span.product-profile__property-title Фреон
            span.product-profile__property-value R410A

      .product-profile__desc
        h1.product-profile__title.desktop-hidden Dahatsu DHP-07/DHV-07
        span.product-profile__price 25 000 ₽
        button.product-profile__button.button.button--accent Купить
        .product-profile__desc-content
        h2.product-profile__desc-heading Описание
        p.product-profile__desc-text Бюджетный кондиционер для дома и офиса Dahatsu DHP-07/DHV-07 изготовленный на заводе Midea отличается не только своей доступной ценой, но и привлекательным внешним видом. Сердцем этой сплит-системы является мощный производительный компрессор GMCC Toshiba и теплообменник с покрытием Golden Fin. Благодаря ему кондиционер обеспечит точное поддержание целевой температуры установленной пользователем. Эффективность системы подтверждается высоким классом А, что позволяет ей в полной мере конкурировать с аналогичными инверторными кондиционерами.


