.services
  h2.services__title Услуги
  ul.services__list
    li.services__item
      a.services__link(href="installation.html") Установка
    li.services__item
      a.services__link(href="installation.html") Ремонт
    li.services__item
      a.services__link(href="installation.html") Чистка
    li.services__item
      a.services__link(href="installation.html") Заправка
