.cart
  .cart__container.container
    h1.cart__title Корзина

    .cart__orders

      ul.cart__list

        li.cart__item.cart-item
          img.cart-item__img(src="")
          .cart-item__data
            h3.cart-item__name Dahatsu DHP-07/DHV-07
            span.cart-item__price 25 000 ₽
            button.cart-item__delete Удалить



      .cart__sidebar
