.cart
  .cart__container.container
    button.cart__back-btn Назад

    h1.cart__title Корзина
      span.cart__count ??

    .cart__orders

      ul.cart__list
        include cart-template

      .cart__sidebar
