section.similar
  .similar__container.container

    h2.title-section Похожие товары

    .swiper.similar__slider
      .swiper-wrapper
        include ../_items/card-similar/card-similar

      button.swiper-button-prev.swiper-button
      button.swiper-button-next.swiper-button
