.card
  display: flex
  flex-direction: column
  min-width: 150px
  padding: 16px 16px 24px
  border-radius: 16px
  box-shadow: 0 0 16px 1px rgba(#BBBBBB, 0.5)
  transition: $transition
  @media (max-width: $width-tablet)
    padding: 8px 16px 16px
  @media (max-width: $width-mobile)
    padding: 6px
  @media (max-width: 360px)
    width: 100%
    max-width: 260px
    margin: 0 auto

  &__img
    display: block
    margin: 0 auto 16px
    height: 250px
    @media (max-width: $width-tablet)
      height: 200px
    @media (max-width: $width-mobile)
      margin: 0 auto 8px
      height: 150px

  &__title
    @include fontSize(16, 24)
    font-weight: 500

  &__price
    @include fontSize(18, 32)
    font-weight: 500
    margin: 8px 0 16px
    @media (max-width: $width-mobile)
      margin: 4px 0 8px

  &__data
    margin-bottom: 24px
    @include fontSize(12, 20)
    display: flex
    flex-direction: column
    gap: 12px
    @media (max-width: $width-mobile)
      margin-bottom: 16px
      gap: 6px

  &__data-item
    display: flex
    align-items: baseline
    gap: 8px
    &-value
      white-space: nowrap
      order: 3
    &::before
      content: ""
      border-bottom: 1px dashed rgba($black, 0.3)
      flex-grow: 1
      order: 2
      margin: 0 5px


  &__button
    width: 100%
    font-weight: 500
    @include fontSize(16, 20)
