template#card-template
  article.card(data-article="" itemscope itemtype="https://schema.org/Product")
    a.card__link(href="" itemprop="url")
      img.card__img.product-img(src="" itemprop="image")
      h3.card__title.product-title(itemprop="name")
    span.card__price.product-price

    ul.card__data(itemprop="description")
      li.card__data-item На площадь:
        span.card__data-item-value.card__data-item-value--area.area-value
      li.card__data-item Инвертор:
        span.card__data-item-value.card__data-item-value--inverter
      li.card__data-item Охлаждение:
        span.card__data-item-value.card__data-item-value--coolingCapacity
      li.card__data-item Уровень шума:
        span.card__data-item-value.card__data-item-value--noise

    button.button.button--accent.card__button.cart-btn Купить
