a.card.swiper-slide(href="##")
  img.card__img(src="./assets/img/catalog/01.jpg")
  h3.card__title DAHATSU DHP-07/DHV-07
  span.card__price 25 000 ₽

  .card__data
    span.card__data-header Основные характеристики
    ul.card__data-list
      li.card__data-item Мощность охлаждения: 2.8 кВт
      li.card__data-item На площадь: 22 м²
      li.card__data-item Уровень шума: 22 дБ
      li.card__data-item Инвертор: есть

  button.button.button--accent.card__button Купить

