-
  const CATALOG = [
    {
      link: "##",
      title: "Бытовые сплит-системы",
      imgSrc: "./assets/img/catalog/01.jpg",
    },

    {
      link: "##",
      title: "Напольно-потолочные",
      imgSrc: "./assets/img/catalog/02.png",
    },

    {
      link: "##",
      title: "Канальные",
      imgSrc: "./assets/img/catalog/03.png",
    },

    {
      link: "##",
      title: "Кассетные",
      imgSrc: "./assets/img/catalog/04.png",
    },

    {
      link: "##",
      title: "Колонные",
      imgSrc: "./assets/img/catalog/05.png",
    },

    {
      link: "##",
      title: "Мульти сплит-системы",
      imgSrc: "./assets/img/catalog/06.jpg",
    },
  ]


section.catalog
  .catalog__container.container
    h1.catalog__title.title-section Каталог
    +catalog(CATALOG)




