-
  const CATALOG = [
    {
      link: "split-systems.html",
      title: "Бытовые сплит-системы",
      imgSrc: "./assets/img/catalog/01.jpg",
    },

    {
      link: "floor-ceiling.html",
      title: "Напольно-потолочные кондиционеры",
      imgSrc: "./assets/img/catalog/02.jpg",
    },

    {
      link: "ducted.html",
      title: "Канальные кондиционеры",
      imgSrc: "./assets/img/catalog/03.jpg",
    },

    {
      link: "cassette.html",
      title: "Кассетные кондиционеры",
      imgSrc: "./assets/img/catalog/04.jpg",
    },

    {
      link: "column.html",
      title: "Колонные кондиционеры",
      imgSrc: "./assets/img/catalog/05.jpg",
    },

    {
      link: "multi-split-systems.html",
      title: "Мульти сплит-системы",
      imgSrc: "./assets/img/catalog/06.jpg",
    },
  ];


section.catalog
  .catalog__container.container
    h1.catalog__title.title-section Каталог
    +catalog(CATALOG)




