.products.products--cassette
  .products__container.container

    h1.products__title Кассетные кондиционеры

    include ../filter/filter

    .products__grid
      // Сюда отрисовываются карточки из объекта
