.products.products--ducted
  .products__container.container

    h1.products__title Канальные кондиционеры

    //include ../filter/filter
    include ../filter-tabs/filter-tabs

    .products__grid
      // Сюда отрисовываются карточки из объекта
