.products.products--floor-ceiling
  .products__container.container

    h1.products__title Напольно-потолочные кондиционеры

    //include ../filter/filter
    include ../filter-tabs/filter-tabs

    .products__grid
      // Сюда отрисовываются карточки из объекта
