-
  const productList = [
    {
      title: 'Dahatsu DHP-07/DHV-07',
      link: '##',
      imgSrc: './assets/img/catalog/dahatsu/01.jpg',
      price: 25000,
      power: '2.8 кВт',
      area: '22 м²',
      noise: '22 дБ',
      inverter: 'есть',
    }
  ]
