.products.products--main
  .products__container.container

    //include ../filter/filter
    include ../filter-tabs/filter-tabs

    .products__grid
      // Сюда отрисовываются карточки из объекта

