.products.products--main
  .products__container.container

    h2.title-section.products__title Все кондиционеры
      span.products__title-count

    //include ../filter/filter
    include ../filter-tabs/filter-tabs

    .products__grid
      // Сюда отрисовываются карточки из объекта

