.products.products--split-systems
  .products__container.container

    h1.products__title Бытовые сплит-системы

    include ../filter/filter

    .products__grid
      // Сюда отрисовываются карточки из объекта

