template#product-profile-template
  section.product-profile(itemscope itemtype="https://schema.org/Product")
    .product-profile__container.container
      h1.product-profile__title.product-title.mobile-hidden(itemprop="name")

      .product-profile__columns

        .product-profile__images
          .swiper-top
            .swiper-wrapper

            .swiper-pagination

          .swiper-thumbs
            .swiper-wrapper

        .product-profile__properties
          h2.product-profile__properties-heading Характеристики
          ul.product-profile__property-list

            li.product-profile__property-item
              span.product-profile__property-title Серия:
              span.product-profile__property-value.series

            li.product-profile__property-item
              span.product-profile__property-title На площадь, м²
              span.product-profile__property-value.area-value

            li.product-profile__property-item
              span.product-profile__property-title Инвертер
              span.product-profile__property-value.inverter

            li.product-profile__property-item
              span.product-profile__property-title Производительность (охлаждение),&nbsp;Вт,&nbsp;ном.
              span.product-profile__property-value.cooling-performance

            li.product-profile__property-item
              span.product-profile__property-title Потребляемая мощность (охлаждение),&nbsp;Вт,&nbsp;ном.
              span.product-profile__property-value.cooling-powerConsumption

            li.product-profile__property-item
              span.product-profile__property-title Производительность (обогрев),&nbsp;Вт,&nbsp;ном.
              span.product-profile__property-value.heating-performance

            li.product-profile__property-item
              span.product-profile__property-title Потребляемая мощность (обогрев),&nbsp;Вт,&nbsp;ном.
              span.product-profile__property-value.heating-powerConsumption

            li.product-profile__property-item
              span.product-profile__property-title Электропитание, V/PH/HZ
              span.product-profile__property-value.powerSupply

            li.product-profile__property-item
              span.product-profile__property-title Макс. длина трассы,&nbsp;м
              span.product-profile__property-value.maxTrackLength

            li.product-profile__property-item
              span.product-profile__property-title Макс. перепад высот,&nbsp;м
              span.product-profile__property-value.maxHeightDifference

            li.product-profile__property-item
              span.product-profile__property-title Диаметр жидкостной трубы,&nbsp;мм
              span.product-profile__property-value.liquidPipeDiameter

            li.product-profile__property-item
              span.product-profile__property-title Диаметр газовой трубы,&nbsp;мм
              span.product-profile__property-value.gasPipeDiameter

          h3.product-profile__properties-heading Внутренний блок
          ul.product-profile__property-list

            li.product-profile__property-item
              span.product-profile__property-title Уровень шума, дБ (А)
              span.product-profile__property-value.indoorUnit-noise

            li.product-profile__property-item
              span.product-profile__property-title Вес, кг
              span.product-profile__property-value.indoorUnit-weight

            li.product-profile__property-item
              span.product-profile__property-title Размер, мм (д*ш*в)
              span.product-profile__property-value.indoorUnit-size


          h3.product-profile__properties-heading Внешний блок
          ul.product-profile__property-list

            li.product-profile__property-item
              span.product-profile__property-title Уровень шума, дБ (А)
              span.product-profile__property-value.outdoorUnit-noise

            li.product-profile__property-item
              span.product-profile__property-title Вес, кг
              span.product-profile__property-value.outdoorUnit-weight

            li.product-profile__property-item
              span.product-profile__property-title Размер, мм (д*ш*в)
              span.product-profile__property-value.outdoorUnit-size

            li.product-profile__property-item
              span.product-profile__property-title Модель компрессора
              span.product-profile__property-value.outdoorUnit-compressorModel

            li.product-profile__property-item
              span.product-profile__property-title Фреон
              span.product-profile__property-value.outdoorUnit-freon

        .product-profile__desc(itemprop="offers" itemscope itemtype="https://schema.org/Offer")
          h1.product-profile__title.tablet-hidden(itemprop="name")
          meta.meta-price(itemprop="price" content="")
          meta(itemprop="priceCurrency" content="RUB")
          link(itemprop="availability" href="https://schema.org/InStock")
          span.product-profile__price.product-price.product-price--desktop-hidden
          .product-profile__actions
            span.product-profile__price.product-price
            button.product-profile__button.button.button--accent.cart-btn Купить
          .product-profile__other-areas
            span Для помещения площадью, м²
            select
          .product-profile__desc-content
            h2.product-profile__desc-heading Описание
            p.product-profile__desc-text(itemprop="description")
            button.product-profile__desc-show-more-btn Показать еще

