.chat
  span.chat__icon(title="Chat Online")
    include ../../img/icons/chat-icon.svg

  .chat__wrapper

    .chat__body

      ul.chat__list
        li.chat__item.chat__item--header Как вам удобнее с нами связаться?

        li.chat__item
          a.chat__link(href="##") Telegram
        li.chat__item
          a.chat__link(href="##") WhatsApp
        li.chat__item
          a.chat__link(href="tel:+79884093099") Перезвонить +7 (988) 409-30-99

      button.chat__cancel(type="button") Отмена


