.chat
  span.chat__icon(title="Chat Online")
    include ../../img/icons/chat-icon.svg

  .chat__wrapper

    .chat__body

      ul.chat__list
        li.chat__item.chat__item--header Как вам удобнее с нами связаться?

        li.chat__item
          a.chat__link.chat__link--telegram(href="##") Telegram
            include ../../img/icons/social/telegram.svg
        li.chat__item
          a.chat__link.chat__link--whatsapp(href="##") WhatsApp
            include ../../img/icons/social/whatsapp-square.svg
        li.chat__item
          a.chat__link.chat__link--phone(href="tel:+79884093099") Позвонить +7 (988) 409-30-99
            include ../../img/icons/phone.svg

      button.chat__cancel(type="button") Отмена


