template#input-plus-minus-template
  div#container
    button#minus
      include ../../img/icons/minus.svg

    input(id="countInput" value="1" readonly)

    button#plus
      include ../../img/icons/plus.svg

