template#input-plus-minus-template
  div#container
    button#minus
      img(src="./assets/img/icons/minus.svg")

    input(id="countInput" value="1" readonly)

    button#plus
      img(src="./assets/img/icons/plus.svg")

  <style> #container img { width: 70% };
  </style>

