.page404
  .page404__container.container
    h1.page404__title 404
    h2.page404__subtitle Страница не найдена
    p.page404__text Страница, на которую Вы пытаетесь попасть, не существует или была удалена. Перейдите на
      a(href="index.html") главную страницу.
