section.hero(style="background-image: url('./assets/img/hero-desktop.jpg')")
  .hero__container.container
    h1.hero__title Сохраните прохладу с нашей распродажей кондиционеров
    span.hero__subtitle Ваш комфорт — наша забота
    a.hero__button.button.button--accent(href="catalog.html") Перейти в каталог
