.hero-slider
  margin-top: 60px
  padding: 0 120px
  @media (max-width: $width-tablet)
    margin-top: 40px
    padding: 0 50px
  @media (max-width: $width-mobile)
    margin-top: 70px
    padding: 0 16px

  &__container
    overflow: hidden
    padding: 0
    border-radius: 16px

  .swiper-wrapper

    .swiper-pagination
      display: flex

  .swiper-slide
    display: grid
    gap: 16px
    padding: 28px
    color: #fff
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    @media (min-width: $width-mobile)
      grid-template-columns: repeat(2, 1fr)
      padding: 40px
      & > *:not(img)
        grid-column: 1 / 2
    &:nth-child(2)
      background-image: linear-gradient(90deg, #000 0%, #4d59a1 100%)
    &:nth-child(1)
      //background-image: linear-gradient(90deg, rgba(#000,1) 0%, rgba(#d31116,1) 100%)
      background-image: linear-gradient(90deg, #000 0%, $accent 100%)

  &__img
    display: block
    width: 85%
    max-width: 400px
    margin: 0 auto
    @media (min-width: $width-tablet)
      width: 75%
    @media (min-width: $width-mobile)
      grid-column: 2 / 3
      grid-row: 1 / 4
      align-self: center

  &__title
    @include fontSize(20, 32)
    font-weight: 500

  &__subtitle
    @include fontSize(14, 22)

  &__button
    min-height: 64px
    height: fit-content
    @include fontSize(16, 20)
    //padding: 12px 75px
    display: flex
    align-items: center
    border-radius: 56px
    font-weight: 600
    margin-top: 24px
    @media (max-width: $width-tablet)
      min-height: 56px
      padding: 12px 48px
    @media (max-width: $width-mobile)
      min-height: 44px
      padding: 8px 32px
      border-radius: 24px
      order: 1
      margin: 24px auto 0

  .swiper-pagination
    position: absolute
    bottom: initial
    @media (min-width: $width-mobile)
      display: block
