section.hero-slider

  .hero-slider__container.container

    .swiper-wrapper

      .swiper-slide
        h1.hero-slider__title DENKO — функциональное и надежное климатическое оборудование
        span.hero-slider__subtitle Кондиционеры Denko от официального дилера. Официальная гарантия, доставка, гарантийный монтаж, обслуживание.
        a.hero-slider__button.button.button--accent(href="catalog.html") Перейти в каталог
        img.hero-slider__img(src="./assets/img/catalog/Denko/du/02-1.png")

      .swiper-slide
        h1.hero-slider__title Хорошая работа остается незамеченной
        span.hero-slider__subtitle Не беспокойтесь и крепко спите с кондиционером, который издает меньше шума
        a.hero-slider__button.button.button--accent(href="catalog.html") Перейти в каталог
        img.hero-slider__img(src="./assets/img/catalog/dahatsu/DS-I/02-1.png")



    .swiper-pagination

