.form-popup
  position: fixed
  background-color: rgba(#000, 0.8)
  overflow-y: auto
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 1000
  display: flex
  align-items: center
  justify-content: center
  padding: 0 16px
  transition: $transition
  //transition: background-color 0.7s, opacity 0.3s, transform 0.3s
  opacity: 0
  visibility: hidden
  &.js-popup-active
    opacity: 1
    visibility: initial
  @media (max-width: $width-mobile)
    opacity: 1
    visibility: initial
    //background-color: rgba(#000, 0.5)
    background-color: transparent
    align-items: flex-end
    transform: translateY(100%)
    padding: 0
    &.js-popup-active
      transform: translateY(0)

  &__container
    position: relative
    min-width: 320px
    max-width: 500px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    background-color: #fff
    padding: 24px
    border-radius: 8px
    overflow: auto
    margin: 65px 0
    @media (max-width: $width-mobile)
      padding: 16px
      margin: 16px 0 0
      max-width: initial
      border: 1px solid rgba(#000, 0.1)
      border-radius: 24px 24px 0 0
      box-shadow: 0px -5px 20px 10px rgb(15 15 15 / 20%)
      height: 85%
      justify-content: flex-start

  &__header
    width: 100%
    margin-bottom: 24px
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid rgba(#000, 0.1)
    padding-bottom: 8px

  &__title
    @include fontSize(18, 22)
    color: #333333

  &__close
    opacity: 0.6
    &:hover
      opacity: 0.4
    svg
      width: 18px
      height: 18px

  &__form
    max-width: initial
    margin-top: 32px
    height: 100%
    @media (max-width: $width-mobile)
      gap: 16px
      .form__field
        margin: 0


  &-orders
    width: 100%
    display: flex
    flex-direction: column
    gap: 16px

  &-orders__item
    display: flex
    gap: 32px
    @media (max-width: $width-mobile)
      gap: 24px
    @media (max-width: 360px)
      gap: 12px
    img
      width: 100%
      max-width: 100px
      @media (max-width: 360px)
        max-width: 90px
        height: fit-content

  &-orders__name
    font-weight: 500
    margin-bottom: 8px

  &-orders__info
    display: flex
    flex-direction: column
    gap: 4px
    @include fontSize(16, 20)

  &-orders__area,
  &-orders__price
    position: relative
    display: flex
    align-items: center
    gap: 8px
    &::before
      content: ""
      display: inline-block
      width: 25px
      height: 25px
      background-repeat: no-repeat
      background-size: cover
      background-position: center
  &-orders__area::before
    background-image: url('../img/icons/square-metr.svg')
  &-orders__price::before
    background-image: url('../img/icons/price.svg')

  &__sum
    color: #31708f
    background-color: #d9edf7
    border: 1px solid #bce8f1
    padding: 8px
    width: 100%
    margin-top: 24px
    border-radius: 4px
    @include fontSize(16, 18)

  &__button
    border-radius: 8px
    min-height: 48px
    @media (max-width: $width-mobile)
      margin-top: auto

  &__quantity
    margin-right: auto
    margin-top: 16px
    width: fit-content
    display: flex
    flex-direction: column
    gap: 8px
    color: #31708f
    text-align: center










