.form-popup
  include ../input-plus-minus/input-plus-minus
  .form-popup__container

    .form-popup__header
      h3.form-popup__title Оформление заявки
      button.form-popup__close
        include ../../img/icons/close.svg

    ul.form-popup__orders.form-popup-orders
      li.form-popup-orders__item
        img.form-popup-orders__img(src="")
        .form-popup-orders__info
          h4.form-popup-orders__name
          p.form-popup-orders__area Площадь:&nbsp;
            span.form-popup-orders__area-value
          p.form-popup-orders__price Цена:&nbsp;
            span.form-popup-orders__price-value


    .form-popup__quantity
      span.form-popup__quantity-label Количество:
      input-plus-minus.form-popup__quantity-input

    .form-popup__sum Сумма заказа:&nbsp;
      span.form-popup__sum-value

    form.form.form-popup__form(action="")

      label.visually-hidden(for="name") Ваше имя
      label.visually-hidden(for="tel") Телефон

      input.form__field(type="text" id="name" name="name" pattern='^[A-Za-zА-Яа-яЁё\\s]+$' minlength="3" maxlength="40" autocomplete='off' placeholder="Ваше имя*" required)
      input.form__field(type="tel" id="tel" name="tel" data-tel-input pattern='.{17,20}' autocomplete='off' placeholder="Телефон*" required)
      textarea.form__field(id="text" name="text" placeholder="Укажите квадратные метры вашего помещения" autocomplete='off')

      button.button.button--accent.form__button.form-popup__button(type="submit") Отправить заявку


