.advantages

  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 48px
    @media (max-width: $width-mobile)
      grid-template-columns: 1fr
      gap: 32px

  &__item
    display: flex
    flex-direction: column
    @media (max-width: $width-mobile)
      align-items: flex-start
      max-width: 400px

  &__item-img
    margin: 0 auto
    max-height: 120px
    @media (max-width: $width-mobile)
      max-height: 100px
      margin: 0

  &__item-title
    margin: 24px 0 8px
    font-weight: 500
    @include fontSize(18, 24)

  &__item-info
    @include fontSize(14, 20)




