section.advantages
  .advantages__container.container
    h2.title-section Преимущества

    ul.advantages__list

      li.advantages__item
        img.advantages__item-img(src="./assets/img/advantages/01.svg")
        h3.advantages__item-title Быстрая доставка и монтаж
        p.advantages__item-info Доставка и монтаж за 1 день

      li.advantages__item
        img.advantages__item-img(src="./assets/img/advantages/02.svg")
        h3.advantages__item-title Гарантия 3 года
        p.advantages__item-info На каждый товар мы даем гарантию 3 года, на услуги монтажа 1 год

      li.advantages__item
        img.advantages__item-img(src="./assets/img/advantages/03.svg")
        h3.advantages__item-title Нам доверяют
        p.advantages__item-info Более 1000 довольных клиентов


