section.about
  .about__container.container
    h2.title-section О нас

    .siwper.about__slider
      .swiper-wrapper
        img.swiper-slide(src="./assets/img/about/01.jpg")
        img.swiper-slide(src="./assets/img/about/02.jpg")
        img.swiper-slide(src="./assets/img/about/03.jpg")

      .swiper-pagination
