.filter
  max-width: 950px
  width: 100%
  @media (max-width: $width-mobile)
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row-reverse

  &__form
    @media (max-width: $width-mobile)
      display: none
      padding: 24px 16px
      position: fixed
      width: 100%
      height: 100vh
      background-color: #fff
      top : 0
      left: 0
      z-index: 5
      margin-bottom: 0

  &__form-submit
    display: none
    @media (max-width: $width-mobile)
      display: block
      width: 100%
      margin-bottom: 20%


  &__list
    display: flex
    gap: 32px
    justify-content: space-between
    margin-bottom: 32px
    @media (max-width: $width-mobile)
      gap: 16px
      flex-direction: column
      justify-content: flex-start


  &__item
    position: relative
    display: flex
    flex-direction: column
    &.js-filter-open .filter__item-content
      display: flex
    &.js-filter-open .filter__item-title::after
      transform: scale(-1, -1)
    @media (max-width: $width-mobile)
      border-bottom: 2px solid rgba(#000, 0.1)
      padding-bottom: 8px

  &__item--header
    display: none
    justify-content: space-between
    align-items: center
    flex-direction: row
    font-weight: 500
    margin: 0 -16px
    padding: 0 16px 14px
    user-select: none
    @media (max-width: $width-mobile)
      display: flex
      .filter__item-title
        font-size: 18px
        font-weight: 500



  &__item-title
    position: relative
    font-weight: 500
    @include fontSize(16, 18)
    cursor: pointer
    display: flex
    align-items: center
    gap: 18px
    white-space: nowrap
    transition: $transition
    user-select: none
    @media (max-width: $width-mobile)
      justify-content: space-between
      font-weight: 400
    &:not(.filter__item-title--header)::after
      content: ""
      display: inline-block
      background-image: url('../img/icons/arrow-filter.svg')
      width: 18px
      height: 10px
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      transition: $transition
      @media (max-width: $width-mobile)
        width: 15px
        height: 8px
    &.js-filter-open ~ .filter__item-content
      display: flex
    &.js-filter-open::after
      transform: scale(-1, -1)
    @media (min-width: $width-mobile)
      &:hover
        opacity: 0.7


  &__item-content
    display: none
    margin-top: 16px
    // select, input
    select,
    input
      width: 100%
      max-width: 170px
      min-width: 130px
      min-height: 40px
      border-color: rgba($black, 0.5)
      border-radius: 4px
      font-size: 18px
      padding: 8px
      @media (max-width: $width-mobile)
        font-size: 16px



    // checkbox (inverter)
    input[type="checkbox"].filter__item-checkbox
      position: absolute
      opacity: 0
      z-index: -1
      & + label
        display: inline-flex
        align-items: center
        user-select: none
        cursor: pointer
      & + label::before
        content: ""
        display: inline-block
        width: 30px
        height: 30px
        border-radius: 4px
        border: 2px solid rgba($black, 0.3)
        flex-shrink: 0
        flex-grow: 0
        background-repeat: no-repeat
        background-size: 80%
        background-position: center
      &:checked + label::before
        background-color: rgba($black, 0.8)
        background-image: url("../img/icons/check.svg")


  &__price-min,
  &__price-max
    position: relative
    &::placeholder
      text-align: right
      font-size: 18px
      @media (max-width: $width-mobile)
        font-size: 16px

  &__item--price .filter__item-content
    position: relative
    gap: 32px
    &::after
      position: absolute
      content: ""
      width: 16px
      height: 1px
      background-color: rgba($black, 0.3)
      right: 50%
      top: 50%
      transform: translateX(50%)
    @media (max-width: $width-mobile)
      max-width: 370px

  &__sorting
    @include fontSize(14, 20)
    select
      border: none
      cursor: pointer

  &__icon
    display: none
    @media (max-width: $width-mobile)
      display: block
    &.js-filter-open + .filter__form
      display: flex
      flex-direction: column
      justify-content: space-between






