extends ../layouts/main

block variables
  - var title = "Bosch Climate Line 2000 CLL2000 W 26/CLL2000 26"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Каталог", url: "catalog.html"}, {text: "Бытовые сплит-системы", url: "split-systems.html"}, {text: title}])

  include ../components/popular/popular




