extends ../layouts/main

block variables
  - var title = "Кассетные"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Каталог", url: "catalog.html"}, {text: "Кассетные"}])

  include ../components/products/cassette




