extends ../layouts/main

block variables
  - var title = "Каталог"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/catalog/catalog
  include ../components/products/products




