extends ../layouts/main

block variables
  - var title = "Контакты"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Главная", url: "index.html"}, {text: title}])

  include ../components/contacts/contacts




