extends ../layouts/main

block variables
  - var title = "Dahatsu DHP-07/DHV-07"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Каталог", url: "catalog.html"}, {text: "Бытовые сплит-системы", url: "split-systems.html"}, {text: title}])

  include ../components/product-profile/split-systems/dahatsu-dhp-07.pug

  include ../components/popular/popular




