extends ../layouts/main

block variables
  - var title = "Dahatsu DH-KN-60CH"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Каталог", url: "catalog.html"}, {text: "Канальные", url: "ducted.html"}, {text: title}])

  include ../components/popular/popular




