extends ../layouts/main

block variables
  - var title = "Dahatsu DH-CS-48A"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Каталог", url: "catalog.html"}, {text: "Кассетные", url: "cassette.html"}, {text: title}])

  include ../components/popular/popular




