extends ../layouts/main

block variables
  - var title = "Daichi ICE ICE20AVQ1-1/ICE20FV1-1"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Каталог", url: "catalog.html"}, {text: "Бытовые сплит-системы", url: "split-systems.html"}, {text: title}])

  include ../components/popular/popular




