extends ../layouts/main

block variables
  - var title = "Наружный блок Denko DNMULT-42/4"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Каталог", url: "catalog.html"}, {text: "Мульти сплит-системы", url: "multi-split-systems.html"}, {text: title}])

  include ../components/popular/popular




