extends ../layouts/page-index

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/hero/hero
  include ../components/popular/popular
  include ../components/advantages/advantages
  include ../components/feedback/feedback-call
  include ../components/about/about




