extends ../layouts/main

block variables
  - var title = "Заказать установку"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/feedback/feedback-installation
