extends ../layouts/main

block variables
  - var title = "Услуги"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Главная", url: "index.html"}, {text: title}])

  include ../components/feedback/feedback-installation
