extends ../layouts/main

block variables
  - var title = "Kentatsu Ichi KSGI35HFAN1/KSRI35HFAN1"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Каталог", url: "catalog.html"}, {text: "Бытовые сплит-системы", url: "split-systems.html"}, {text: title}])

  include ../components/popular/popular




