extends ../layouts/main

block variables
  - var title = "Midea Paramount MSAG1-09HRN1-I / MSAG1-09HRN1-O"
  - var pageClass = ''
  - var activePage = 'index'

block content

  +breadcrumbs([{text: "Каталог", url: "catalog.html"}, {text: "Бытовые сплит-системы", url: "split-systems.html"}, {text: title}])

  include ../components/popular/popular




