extends ../layouts/main

block variables
  - var title = "Бытовые сплит-системы"
  - var pageClass = ''
  - var activePage = 'index'

block content

  include ../components/products/split-systems




