html
  overflow-x: hidden
  max-width: 100vw
  scroll-behavior: smooth
  color: $black
  &.js-block-scroll
    overflow: hidden

body
  min-height: 100vh

.page
  overflow: clip
  min-height: 100vh
  display: flex
  flex-direction: column
  min-width: 100%

main
  flex-grow: 1
  display: flex
  flex-direction: column
  gap: 72px
  margin-bottom: 180px
  @media (max-width: $width-mobile)
    gap: 56px
    margin-bottom: 96px

.container
  max-width: 1200px
  min-width: 300px
  padding: 0 120px
  margin: 0 auto
  box-sizing: content-box
  @media (max-width: $width-tablet)
    padding: 0 50px
  @media (max-width: $width-mobile)
    padding: 0 16px


.hidden
  display: none

.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0
  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden


.title-section
  @include fontSize(24, 32)
  font-weight: 500
  margin-bottom: 28px


.flex-center
  display: flex
  align-items: center
  justify-content: center


//.tablet-hidden
//  @media (max-width: $width-mobile)
//    display: none
//
//.desctop-hidden
//  @media (min-width: $width-mobile)
//    display: none


.button
  font-weight: 600
  border-radius: 30px
  width: fit-content
  @media (min-width: $width-mobile)
    min-height: 40px
    padding: 8px 32px
  &.button--accent
    background-color: $accent
    color: $white

button
  cursor: pointer



// -------- Swiper -----------

.swiper
  width: 100%

.swiper-slide
  height: auto

.swiper-pagination
  position: relative

.swiper-pagination-bullet
  width: 12px
  height: 12px
  background-color: #C6C6C6
  transition: $transition
  &-active
    background-color: $grey

// стрелки навигации
//.slider-nav__prev,
//.slider-nav__next
//  position: absolute
//  display: inline-flex
//  align-items: center
//  justify-content: center
//  width: 32px
//  aspect-ratio: 1 / 1
//  border-radius: 4px
//  cursor: pointer
//  z-index: 1
//  background: rgba(106, 106, 106, 0.1) no-repeat center / 7px 12px
//  top: 50%
//  transform: translateY(-50%)
//  &:hover
//    background-color: rgba(106, 106, 106, 0.3)
//.slider-nav__prev
//  background-image: url('../img/icons/arrow-left.svg')
//  transform: translateX(-100%)
//.slider-nav__next
//  background-image: url('../img/icons/arrow-right.svg')
//  transform: translateX(100%)

.swiper-pagination
  margin-top: 30px





