a.card-popular.swiper-slide(href="##")
  img.card-popular__img(src="./assets/img/catalog/01.jpg")
  h3.card-popular__title DAHATSU DHP-07/DHV-07
  span.card-popular__price 25 000 ₽

  ul.card-popular__data
    li.card-popular__data-item Мощность охлаждения:
      span.card-popular__data-item-value 2.8 кВт
    li.card-popular__data-item На площадь:
      span.card-popular__data-item-value 22 м²
    li.card-popular__data-item Уровень шума:
      span.card-popular__data-item-value 22 дБ
    li.card-popular__data-item Инвертор:
      span.card-popular__data-item-value есть

  button.button.button--accent.card-popular__button Купить

