header.header
  .header__container.container
    a.header__logo(href="index.html") Элит Климат

    button.header__burger
      svg(fill="1C1B1F" width="18" height="12")
        use(href="./assets/img/sprite.svg#burger")


    nav.header__nav
      button.header__nav-close
        svg(fill="1C1B1F" width="14" height="14")
          use(href="./assets/img/sprite.svg#close")
      ul.header__nav-list

        li.header__nav-item.header__nav-item--desktop-hidden
          a.header__nav-link(href="index.html") Главная

        li.header__nav-item
          button.header__nav-catalog
            svg(fill="1C1B1F" width="18" height="12")
              use(href="./assets/img/sprite.svg#burger")
            span Каталог

        li.header__nav-item
          a.header__nav-link(href="##") Заказать звонок
        li.header__nav-item
          a.header__nav-link(href="##") Заказать установку
        li.header__nav-item
          a.header__nav-link(href="##") О нас
        li.header__nav-item
          a.header__nav-link(href="##") Контакты

    button.header__basket
      img(src="./assets/img/icons/basket.svg")

