.header
  position: sticky
  top: 0
  z-index: 5
  box-shadow: 0 0 20px 10px rgba(#BBBBBB, 0.4)
  padding: 30px 0
  min-height: 92px
  background-color: white
  margin-bottom: 32px
  @media (max-width: $width-mobile)
    min-height: 56px
    padding: 16px 0
    z-index: 5
    //box-shadow: none
    margin-bottom: 20px
    //border-bottom: 1px solid #0000000d
    box-shadow: 0 0 10px 5px rgba(#BBBBBB, 0.2)
    &.header--index
      position: absolute
      background-color: transparent
      width: 100%
      border-bottom: none
      box-shadow: none
  &.header--index
    margin-bottom: 0



  &__container
    display: flex
    align-items: center
    justify-content: space-between
    gap: 24px
    max-width: 1052px

  &__logo
    display: flex
    //img
    //  width: 200px
    //  @media (max-width: $width-tablet)
    //    width: 150px
    //  @media (max-width: 900px)
    //    width: 120px

  &__nav
    @media (max-width: $width-mobile)
      position: fixed
      top: 0
      left: 0
      max-height: 100vh
      height: 100%
      width: 100%
      background-color: white
      padding: 52px 16px
      transform: translateY(-100%)
      transition: $transition
      z-index: 1
      &.js-menu-open
        transform: translateY(0)
      &.js-menu-open .header__nav-close
        display: block
  &__nav-list
    display: flex
    align-items: center
    gap: 32px
    @media (max-width: $width-tablet)
      gap: 24px
    @media (max-width: $width-mobile)
      flex-direction: column
      align-items: flex-start

  &__nav-item
    font-size: 20px
    white-space: nowrap
    transition: $transition
    @media (max-width: $width-tablet)
      font-size: 16px
    &:hover
      color: $accent
    @media (max-width: $width-mobile)
      font-weight: 600
      font-size: 20px
    &--desktop-hidden
      display: none
      @media (max-width: $width-mobile)
        display: block


  &__nav-catalog
    display: flex
    align-items: center
    gap: 12px
    svg
      fill: currentColor
      @media (max-width: 900px)
        display: none

  &__cart
    position: relative
    display: flex
    align-items: center
    @media (max-width: $width-mobile)
      position: fixed
      right: 31px
      bottom: 80px
      & svg
        fill: #fff

    & svg
      position: relative
      transition: $transition
      z-index: 1
    &:hover svg,
    &.js-add-cart svg
      fill: #fff
    &::after
      content: ""
      position: absolute
      width: 40px
      height: 40px
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      transition: $transition
      @media (max-width: $width-mobile)
        background-color: #656565
        width: 50px
        height: 50px
    &:hover::after,
    &.js-add-cart::after
      background-color: $accent

    &-count
      position: absolute
      z-index: 1
      color: $accent
      background-color: #fff
      border: 1px solid $accent
      line-height: 1
      left: 50%
      top: -15px
      padding: 3px
      font-weight: 600
      min-width: 22px
      height: 22px
      border-radius: 16px
      display: flex
      align-items: center
      justify-content: center
      font-size: 14px
      @media (max-width: $width-mobile)
        top: -22px
      &.js-cart-count-hidden
        display: none




  &__burger
    display: none
    @media (max-width: $width-mobile)
      display: block

  &__nav-close
    display: none
    position: absolute
    right: 16px
    top: 16px



