.header
  position: sticky
  top: 0
  left: 0
  width: 100%
  z-index: 5
  box-shadow: 0 0 20px 10px rgba(#BBBBBB, 0.4)
  padding: 25px 0
  min-height: 84px
  background-color: white
  margin-bottom: 32px
  transition: 0.4s ease
  &.js-scroll
    opacity: 0
    visibility: hidden
  @media (max-width: $width-mobile)
    min-height: 50px
    padding: 12px 0
    margin-bottom: 20px
    box-shadow: 0 0 10px 5px rgba(#BBBBBB, 0.2)
    &.header--index
      position: absolute
      background-color: transparent
      box-shadow: none
  &.header--index
    margin-bottom: 0
    .header__tel
      background-color: #e8e8e8


  &__container
    display: flex
    align-items: center
    justify-content: space-between
    gap: 24px
    max-width: 1052px
    @media (max-width: 360px)
      gap: 16px

  &__logo
    display: flex
    font-weight: 500
    background-color: $accent
    color: #fff
    padding: 2px 4px
    border-radius: 4px
    white-space: nowrap
    @include fontSize(14, 20)
    //img
    //  width: 200px
    //  @media (max-width: $width-tablet)
    //    width: 150px
    //  @media (max-width: 900px)
    //    width: 120px

  &__nav
    @media (max-width: $width-mobile)
      position: fixed
      top: 0
      left: 0
      max-height: 100vh
      min-height: 500px
      height: 100%
      width: 100%
      background-color: white
      padding: 52px 16px
      transform: translateY(-100%)
      transition: $transition
      z-index: 1
      background-image: url('../img/hero-desktop.jpg')
      background-position: center
      background-size: cover
      background-repeat: no-repeat
      &::after
        content: ""
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background-color: rgba(#fff, 0.8)
      &.js-menu-open
        transform: translateY(0)
      &.js-menu-open .header__nav-close
        display: block

  &__nav-list
    position: relative
    display: flex
    align-items: center
    gap: 32px
    z-index: 1
    @media (max-width: $width-tablet)
      gap: 24px
    @media (max-width: $width-mobile)
      flex-direction: column
      align-items: flex-start

  &__nav-item
    font-size: 20px
    white-space: nowrap
    transition: $transition
    @media (max-width: $width-tablet)
      font-size: 16px
    &:hover
      color: $accent
    @media (max-width: $width-mobile)
      font-weight: 600
      font-size: 20px
    &--desktop-hidden
      display: none
      @media (max-width: $width-mobile)
        display: block

  &__nav-catalog
    display: flex
    align-items: center
    gap: 12px
    svg
      fill: currentColor
      @media (max-width: 900px)
        display: none

  &__cart
    position: relative
    display: flex
    align-items: center
    @media (max-width: $width-mobile)
      position: fixed
      right: 31px
      bottom: 80px
      & svg
        fill: #fff

    & svg
      position: relative
      transition: $transition
      z-index: 1
    &:hover svg,
    &.js-add-cart svg
      fill: #fff
    &::after
      content: ""
      position: absolute
      width: 40px
      height: 40px
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      transition: $transition
      @media (max-width: $width-mobile)
        background-color: #656565
        width: 50px
        height: 50px
    &:hover::after,
    &.js-add-cart::after
      background-color: $accent

    &-count
      position: absolute
      z-index: 1
      color: $accent
      background-color: #fff
      border: 1px solid $accent
      line-height: 1
      left: 50%
      top: -15px
      padding: 3px
      font-weight: 600
      min-width: 22px
      height: 22px
      border-radius: 16px
      display: flex
      align-items: center
      justify-content: center
      font-size: 14px
      @media (max-width: $width-mobile)
        top: -22px
      &.js-cart-count-hidden
        display: none

  &__tel
    display: none
    @media (max-width: $width-mobile)
      display: inline-block
      margin-left: auto
      font-weight: 500
      white-space: nowrap
      color: #31708f
      background-color: #d9edf7
      border: 1px solid #bce8f1
      padding: 2px 5px
      border-radius: 4px
      //color: #8f3131
      //background-color: #f7d9d9
      //border: 1px solid #f1bcbc
      @media (max-width: 400px)
        font-size: 14px


  &__burger
    display: none
    @media (max-width: $width-mobile)
      display: block

  &__nav-close
    display: none
    position: absolute
    right: 16px
    top: 16px
    z-index: 1
