
// Плитки каталога
mixin catalog(data)
  .catalog__group
    each item in data
      a.catalog__item(href=item.link)
        h2.catalog__item-title=item.title
        img.catalog__item-img(src=item.imgSrc)
