section.feedback.feedback--call#feedback--call
  .feedback__container.container
    h2.title-section.feedback__title Заказать звонок
    p.feedback__info Мы ответим на все ваши вопросы, поможем с выбором модели

    include ../form/form

    img.feedback__img(src="../assets/img/feedback-img.jpg")
