section.feedback.feedback--contacts#feedback--contacts
  .feedback__container.container
    h2.title-section.feedback__title Напишите нам

    form.form(action="")

      label.visually-hidden(for="name") Ваше имя
      label.visually-hidden(for="tel") Ваш телефон

      input.form__field(type="text" id="name" name="name" placeholder="Ваше имя*" required)
      input.form__field(type="tel" id="tel" name="tel" data-tel-input placeholder="Телефон*" required)
      textarea.form__field(placeholder="Ваш текст" name="text")

      button.button.button--accent.form__button(type="submit") Отправить вопрос

    img.feedback__img(src="./assets/img/write-to-us.jpg")
