section.feedback.feedback--installation
  .feedback__container.container
    h1.title-section.feedback__title Установка, Ремонт, Чистка, Заправка кондиционеров
    p.feedback__info Установку, Ремонт, Чистку, Заправку кондиционеров выполняют наши профессионалы с&nbsp;опытом&nbsp;от&nbsp;3&nbsp;до&nbsp;15&nbsp;лет

    include ../form/form

    img.feedback__img(src="../assets/img/installation.jpg")
