.feedback
  scroll-margin: 120px
  @media (max-width: $width-mobile)
    scroll-margin: 70px

  &__container
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-column-gap: 32px
    align-items: end
    & > *:not(img)
      grid-column: 1/2
    @media (max-width: $width-tablet)
      display: flex
      flex-direction: column
      gap: 20px
      align-items: flex-start

  &__title
    margin-bottom: 16px
    @media (max-width: $width-mobile)
      margin-bottom: 8px

  &__info
    @include fontSize(14, 20)

  &__img
    grid-column: 2/3
    grid-row: 1/4
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 16px
    @media (max-width: $width-tablet)
      max-height: 350px
    @media (max-width: $width-mobile)
      max-height: 250px

  .form
    @media (max-width: $width-mobile)
      margin-top: 0

  &.feedback--call &__img
    max-height: 300px
    @media (max-width: $width-tablet)
      display: none

  &.feedback--installation
    .feedback__img.feedback__img--tablet
      @media (min-width: 1300px)
        display: none
    .feedback__img.feedback__img--desktop
      @media (max-width: 1300px)
        display: none

