section.feedback.feedback--installation
  .feedback__container.container
    h1.title-section.feedback__title Установка, ремонт, чистка, заправка кондиционеров
    img.feedback__img.feedback__img--tablet(src="./assets/img/installation.jpg")
    p.feedback__info Установку, ремонт, чистку, заправку кондиционеров выполняют наши профессионалы с&nbsp;опытом&nbsp;от&nbsp;3&nbsp;до&nbsp;15&nbsp;лет.

    include ../form/form

    img.feedback__img.feedback__img--desktop(src="./assets/img/installation.jpg")
