.filter-tabs
  .filter-tabs__container

    .filter-tabs__box
      h2.filter-tabs__title.filter-tabs__title--company Выбор бренда
      ul.filter-tabs__list.filter-tabs__list--company
        li.filter-tabs__item(data-company="all") Все
        //li.filter-tabs__item(data-company="Dahatsu") Dahatsu

    .filter-tabs__box
      h2.filter-tabs__title Площадь помещения
      ul.filter-tabs__list.filter-tabs__list--area
        li.filter-tabs__item(data-area="all") Все
        li.filter-tabs__item(data-area-min="20" data-area-max="30" data-area) 20-30 м²
        li.filter-tabs__item(data-area-min="31" data-area-max="50" data-area) 31-50 м²
        li.filter-tabs__item(data-area-min="51" data-area-max="70" data-area) 51-70 м²
        li.filter-tabs__item(data-area-min="71" data-area-max="90" data-area) 71-90 м²
        li.filter-tabs__item(data-area-min="91" data-area-max="110" data-area) 91-110 м²
        li.filter-tabs__item(data-area-min="111" data-area-max="150" data-area) 111-150 м²
        li.filter-tabs__item(data-area-min="151" data-area-max="250" data-area) 151-250 м²

    .filter-tabs__box
      h2.filter-tabs__title Тип компрессора
      ul.filter-tabs__list.filter-tabs__list--inverter
        li.filter-tabs__item(data-type="all") Любой
        li.filter-tabs__item(data-type="false") On/Off
        li.filter-tabs__item(data-type="true") Inverter

    .filter-tabs__sorting
      span Соритровка:
      select(name="Соритровка")
        option(value="alphabet" selected) По алфавиту
        option(value="cheaper") Сначала дешевле
        option(value="expensive") Сначала дороже
