.footer
  position: relative
  background-color: $dark-grey
  color: $white
  padding: 48px 0 20px
  @media (max-width: $width-mobile)
    padding: 32px 0 20px

  &__container
    display: grid
    grid-template-columns: repeat(3, auto)
    justify-content: space-between
    column-gap: 24px
    @media (max-width: $width-mobile)
      display: flex
      flex-direction: column
      gap: 32px

  &__logo
    @include fontSize(18, 24)

  //&__logo img
  //  width: 200px
  //  @media (max-width: $width-tablet)
  //    width: 150px
  //  @media (max-width: 900px)
  //    width: 120px

  &__title
    font-weight: 500
    @include fontSize(18, 32)
    margin-bottom: 20px
    @media (max-width: $width-mobile)
      margin-bottom: 16px

  &__top
    display: flex
    flex-direction: column
    grid-column: 1/3
    margin-bottom: 40px
    width: 60%
    @media (max-width: $width-mobile)
      margin-bottom: 0
      width: initial

  &__sublogo
    @include fontSize(14, 18)


  &__contacts
    display: flex
    flex-direction: column
    grid-row: 2/3

  &__contacts-section
    display: flex
    flex-direction: column
    & + &
      margin-top: 20px
  &__contacts-section-title
    font-weight: 500
    @include fontSize(16, 24)
    margin-bottom: 20px
    @media (max-width: $width-mobile)
      margin-bottom: 12px

  &__contacts-list
    display: flex
    flex-direction: column
    gap: 16px
    @media (max-width: $width-mobile)
      gap: 8px
  &__contacts-item
    display: flex
    flex-direction: column
    gap: 8px
  &__contacts-address
    @include fontSize(14, 18)
  &__contacts-tel
    position: relative
    display: flex
    align-items: center
    gap: 8px
    @include fontSize(16, 18)
    &::before
      content: ""
      display: block
      background-image: url('../img/icons/phone.svg')
      width: 20px
      height: 20px
      background-repeat: no-repeat
      background-size: cover
      background-position: center


  &__nav
    display: flex
    flex-direction: column
    grid-row: 2/3

  &__nav-list
    display: flex
    flex-direction: column
    gap: 16px
    @media (max-width: $width-mobile)
      gap: 8px

  &__nav-item
    @include fontSize(14, 18)

  &__nav-link
    transition: $transition
    @media (min-width: $width-tablet)
      &:hover
        color: #cccccc


  &__copyright
    display: flex
    flex-direction: column
    gap: 8px
    color: rgba($white, 0.7)
    grid-row: 3/4
    margin-top: 48px
    font-size: 14px
    @media (max-width: $width-mobile)
      font-size: 12px
      margin-top: 0

  &__politics
    &:hover
      text-decoration: underline

  &__social
    margin-top: 24px

  &__social-list
    display: flex
    //flex-direction: column
    gap: 16px
    flex-wrap: wrap

  &__social-link
    position: relative
    display: flex
    align-items: center
    gap: 8px
    @include fontSize(14, 18)
    &::after
      content: ""
      display: inline-block
      width: 24px
      height: 24px
      background-position: center
      background-repeat: no-repeat
      background-size: cover
    &--telegram::after
      background-image: url('../img/icons/social/telegram.svg')
    &--whatsapp::after
      background-image: url('../img/icons/social/whatsapp.svg')




//--------------
// Quantity should be the same in PUG
//$quantity: 15
//
//.firefly
//  position: absolute
//  left: 50%
//  top: 50%
//  width: 0.4vw
//  height: 0.4vw
//  margin: -0.2vw 0 0 9.8vw
//  animation: ease 200s alternate infinite
//  pointer-events: none
//  @media (max-width: $width-mobile)
//    width: 1vw
//    height: 1vw
//
//  &::before,
//  &::after
//    content: ''
//    position: absolute
//    width: 100%
//    height: 100%
//    border-radius: 50%
//    transform-origin: -10vw
//
//  &::before
//    background: #d9edf7
//    opacity: 0.4
//    animation: drift ease alternate infinite
//
//  &::after
//    background: white
//    opacity: 0
//    box-shadow: 0 0 0vw 0vw #c33
//    animation: drift ease alternate infinite, flash ease infinite
//
//
//// Randomize Fireflies Motion
//@for $i from 1 through $quantity
//
//  $steps: random(12) + 16
//  $rotationSpeed: random(10) + 8s
//
//  .firefly:nth-child(#{$i})
//    animation-name: move#{$i}
//
//    &::before
//      animation-duration: #{$rotationSpeed}
//
//    &::after
//      animation-duration: #{$rotationSpeed}, random(6000) + 5000ms
//      animation-delay: 0ms, random(8000) + 500ms
//
//  @keyframes move#{$i}
//    @for $step from 0 through $steps
//      #{$step * (100 / $steps)}%
//        transform: translateX(random(100) - 50vw) translateY(random(100) - 50vh) scale(random(75) / 100 + .25)
//
//@keyframes drift
//  0%
//    transform: rotate(0deg)
//  100%
//    transform: rotate(360deg)
//
//@keyframes flash
//  0%, 30%, 100%
//    opacity: 0
//    box-shadow: 0 0 0vw 0vw #c33
//  5%
//    opacity: 1
//    box-shadow: 0 0 2vw 0.4vw #c33
