//.breadcrumbs
//  .container.breadcrumbs__container
//    a.breadcrumbs__item(href="catalog.html") Каталог
//    span.breadcrumbs__item Бытовые сплит-системы


//+breadcrumbs([
//  {text: "Каталог", url: "catalog.html"},
//  {text: "Бытовые сплит-системы"}
//])





