section.popular
  .popular__container.container

    h2.title-section Популярное

    .swiper.popular__slider
      .swiper-wrapper
        include ../_items/card-popular/card-popular
        include ../_items/card-popular/card-popular
        include ../_items/card-popular/card-popular
        include ../_items/card-popular/card-popular
        include ../_items/card-popular/card-popular
        include ../_items/card-popular/card-popular

      button.swiper-button-prev.swiper-nav
      button.swiper-button-next.swiper-nav
