section.popular
  .popular__container.container

    h2.title-section Популярное

    .swiper.popular__slider
      .swiper-wrapper
        include ../_items/card/card
        include ../_items/card/card
        include ../_items/card/card
        include ../_items/card/card
        include ../_items/card/card
        include ../_items/card/card

      button.swiper-button-prev.swiper-nav
      button.swiper-button-next.swiper-nav
